body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

section {
    padding: 2em;
    margin: 0 auto;
    max-width: 800px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

h3 {
    margin-top: 1em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5em;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 1em;
}

.social-links {
    margin-top: 1em;
}

.social-links a {
    display: block;
    color: #333;
    text-decoration: none;
    margin: 0.5em 0;
    font-size: 1.2em;
}

.social-links a i {
    margin-right: 0.5em;
}

.social-links a:hover {
    color: #555;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}
#contactForm {
    display: flex;
    flex-direction: column;
}

#contactForm label {
    margin-top: 10px;
}

#contactForm input, #contactForm textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

#contactForm button {
    margin-top: 15px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#contactForm button:hover {
    background-color: #555;
}

#formMessage {
    margin-top: 15px;
    color: green;
    font-weight: bold;
    display: none;
}

